@using AdvancedTicTacToe.WebApp.Models
@model LoginViewModel
@{
    Layout = null;
}
<div class="menu_overlay">
    @using (Html.BeginForm("Register", "Security", new { }, FormMethod.Post, new { id = "loginForm", role = "form", @class = "menu_container", name = "registerCtrl.form" }))
    {
        <span class="title">@ApplicationConfig.ApplicationName</span>

        <span>Registration</span>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <input ng-model="registerCtrl.user.UserName" data-val="true" data-val-required="The User Name field is required." id="UserName" name="UserName" placeholder="Username" type="text" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
        </div>
        <div>
            <input ng-model="registerCtrl.user.Password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" placeholder="Password" type="password">
            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
        </div>
        <div>
            <input ng-model="registerCtrl.user.ConfirmPassword" data-val="true" data-val-required="The PasswordConfirmation field is required." id="PasswordConfirmation" name="PasswordConfirmation" placeholder="Confirm Password" type="password">
            <span class="field-validation-valid text-danger" data-valmsg-for="PasswordConfirmation" data-valmsg-replace="true"></span>
        </div>
        <div>
            <input ng-model="registerCtrl.user.Email" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" placeholder="Email" type="email">
            <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
        </div>

        <a class="button hvr-sweep-to-right" ng-hide="registerCtrl.isBusy" ng-click="registerCtrl.sendRegistrationForm()">Register</a>

        <div class="spinner" ng-show="registerCtrl.isBusy">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>

        <a class="link_button" ng-hide="registerCtrl.isBusy" ng-click="registerCtrl.cancelRegistration()">Nevermind :(</a>

    }
    <footer>
        <p>&copy; @DateTime.Now.Year - Claudio Musumeci</p>
    </footer>
</div>

<toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-bottom-center'}"></toaster-container>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
