@using AdvancedTicTacToe.WebApp.Models
@model LoginViewModel
@{
    Layout = null;
}
<div class="menu_overlay p1">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", role = "form", @class = "login_form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="">
            @Html.TextBoxFor(m => m.UserName, new { @class = "", placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="">
            @Html.PasswordFor(m => m.Password, new { @class = "", placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="">
            <div class="">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a href="javascript:document.getElementById('loginForm').submit()" class="login_btn hvr-sweep-to-right">Log in</a>
                @*<input type="submit" value="Log in" class="login_btn hvr-sweep-to-right" />*@
            </div>
        </div>

        <div class="">
            @Html.ActionLink("Register as a new user", "Register")
        </div>

        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}